.rect{
    width: 50%;
    border-radius: 15px;
    border: 10px groove dodgerblue;
    font-size: 25px;
    margin-bottom: 80px;
}

.pswd, .eml, .delete, .name{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

.rect img{
    height: 50px;
    filter: invert(0.8);
}

/* Permet de mettre une div sur deux en couleur  */
.rect div:nth-child(odd) {
    background: rgba(255, 255, 255, .055);
}

a {
    text-decoration: none;
    color: white;
}

a:hover{
     color: dodgerblue;
 }

.fm{
    padding-top: 10px;
}

/* .button{
    width: 5px;
} */

.button:hover{
    background-image: linear-gradient(dimgray, dimgray);
}

@media only screen and (max-width: 830px){
    .rect{
        display: block !important;
        margin-top: 175px;
    }

    .site-content{
        top: 100;
        margin-bottom: 80px;
    }
}
