.site-content{
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pic{
    border: 10px groove dodgerblue;
    border-radius: 10px;
    text-align: center;
}

.test{
    color: red;
}

.test1{
    color: dodgerblue;
}

.icn{
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 200px;
    justify-content: space-around;
}

.form-content textarea{
    width: 500px;
    height: 100px;
    margin-top: 10px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    background-color: rgb(185, 182, 182);
    resize: none;
    outline: none;
    
}

.button{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(dodgerblue, dodgerblue);
    background-color: darkblue;
    color: #fff;
    border-radius: 8px;
    height: 35px;
    min-width: 80px !important;
    margin-top: 1rem;
    margin: auto;
}

#like {
    cursor: pointer;
}

.back{
    display: flex;
    color: dodgerblue;
    text-decoration: none;
    font-size: 1.2rem;
}

.com-content {
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: dimgrey;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    border-radius: 15px;
    color: rgb(37, 36, 36);
}

@media only screen and (max-width: 520px){
    .pic img{
        width : 250px;
    }

    .form-content textarea{
        width: 250px !important;
    }

    .com-content{
        width: 50% !important;
        min-width: 250px !important;
    }
}
