html,
body {
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: rgb(26, 26, 26);
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    color: white;
}

.header {
    position: fixed;
    z-index: 800;
    left: 0;
    right: 0;
    top: 0;
    min-height: 80px;
    line-height: 80px;
    display: inline-block;
    background-color: dodgerblue;
    -webkit-box-shadow: 0px 9px 30px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 30px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 30px -1px rgba(0,0,0,0.75);
}

.header img, .header .menu-buttons {
    display: inline-block;
    vertical-align: middle;
}

#logo-menu{ 
    position: relative;
    left: 10px;
    min-height: 80px;
    width: 200px;
}

.menu-buttons {
    min-height: 80px;
    width: calc(100% - 210px);
    text-align: center;
}

.menu-buttons a {
    margin: 40px;
}

.menu-buttons img {
    height: 40px;
    width: 40px;
    filter: invert(100%);
    transition-duration: .3s;
}

.menu-buttons a:hover img {
    filter: invert(0);
    transition-duration: .3s;
}

.site-content {
    position: relative;
    top: 170;
}

.footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background-color: dodgerblue;
    text-align: center;
}

.copyright{
    height: 80px;
    line-height: 80px;
    font-weight: 100;
}

#video{
/*     height: auto; */
    display: block;
    width: 500px;
    height: 380px;
}

#video{
    border: 10px groove dodgerblue;
    border-radius: 15px;
}

#canvas{
    display: none;
/*     max-width: 80%; */
    border: 10px groove dodgerblue;
    border-radius: 15px;
}

.cam{
    border: 10px groove dodgerblue;
    border-radius: 15px;
    margin: 10px;
    background-color: lightskyblue;
    width: 500px;
}

.cam-logo{
    width: 50px;
    margin: 10px;
}

.cam-logo:hover{
    filter: invert(100);
}

.collage-content{
    display: inline-flex;
    width: 500px;
    overflow: scroll;
    background-color: dimgrey;
    border-radius: 10px;
}

.mask img{
    width: 150px;
}

.content {
    display: inline-block;
    width: auto;
    height: auto;
}

.MaskContent {
    /* display: inline-block; */
    position: absolute;
    top: 0;
    /* left: 31%; */
    margin-top: 10px;
    margin-left: 10px;
    width: 500px;
    height: 380px;
}

.vid {
    height: 400px;
}

.VideoMask {
    position: absolute;
}

.VideoMask img {
    width: 100px;
}

.cam a {
    display: inline-block;
    width: auto;
    height: auto;
}

.min img{
    width: 250px;
}

.flex-box{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}


@media only screen and (max-width: 830px) {
    .menu-buttons {
        display: block !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 620px) {
    .menu-buttons a {
        margin: 20px !important;
    }

    .menu-buttons a img {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 580px) {
    .copyright{
        font-size: 2vw;
    }
}

@media only screen and (max-width: 720px)
{
    #video{
        width: 250px !important;
        height: 190px !important;
        /* margin-top: 50px; */
    }

    #canvas{
        width: 250px !important;
        height: 190px !important;
        margin-top: 50px;
    }

    .cam{
        width: 250px !important;
        position: relative !important;
    }
    
    .cam img {
        width: 25px !important;
    }

    .collage-content{
        width: 250px !important;
        overflow: scroll !important;
    }

    .mask img{
        width: 75px !important;
    }

    .MaskContent {
        width: 250px !important;
        height: 190px !important;
    }
    
    .vid {
        height: 190px !important;
    }

    .VideoMask img{
        width: 50px !important;
    }
}

@media only screen and (max-width: 375px)
{
    .upload{
        display: none;
    }
}

#selectMask {
    color: red;
}

input:focus {
    outline:  none;
}
