html,
body {
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: rgb(26, 26, 26);
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    color: white;
}

.form-content {
    width: 100%;
    margin-top: 50px;
}

.page-container {
    padding-top: 0px;
    margin-top: 0px;
}

.form {
    max-height: 300px;

}

.back {
    color: dodgerblue;
    margin-top: 30px;
}

.title {
    color: dodgerblue;
    font-size: 20px;
}

.button {
    margin-top: 30px;
}

input{
    outline: none;
}

@media only screen and (max-width: 750px) {
    .site-content {
        overflow-y: inherit;
    }
}
